.pytest_cache

__pycache__

/venv/

/junk/

/.idea

/tests/.coverage
/test/testCSV.csv
/tests/data/jsonTest.json
/tests/coverage.xml
/tests/data/newJson.json
/tests/data/invalid_json_test.json

/bin
/dist
/build
